<div class="row">
  <div class="span6 offset3">
    <%= form_for(@system) do |f| %>
      <%= render 'shared/error_messages_system' %>

      <%= f.label :name %><br />
      <%= f.text_field :name %>
   
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    
      <%= f.label :contact %><br />
      <%= f.text_field :contact %>
    
      <%= f.label :serialNumber %><br />
      <%= f.number_field :serialNumber %>
    
      <%= f.label :hardwareVersion %><br />
      <%= f.text_field :hardwareVersion %>
    
      <%= f.label :softwareVersion %><br />
      <%= f.text_field :softwareVersion %>
    
      <%= f.label :dbVersion %><br />
      <%= f.number_field :dbVersion %>

      <%= f.submit "Create my System", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
